.menu {
  display: flex;
  height: 64px;
  margin: 8px;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  font-family: 'Yusei Magic', sans-serif;
}

p {
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Yusei Magic', sans-serif;

}
.menuWrapper {
  display: flex;
}
img {
  height: 24px;
}
@media screen and (max-width: 600px) {
  .menuWrapper {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    height: 64px;
    border-top: solid 1px black;
  }
}
