.menu {
  display: flex;
  height: 64px;
  margin: 8px;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-transform: uppercase;
}
.menuWrapper {
  display: flex;
}

.menuWrapper li:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  .menuWrapper {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e0e0e0;
    justify-content: center;
    height: 64px;
  }
}
