* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", Arial, serif;
  font-size: 20px;
}

html {
  background: url("./img/background.jpg") no-repeat left center fixed;
  background-size: cover;
  overflow: hidden;
}
.MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
